<div class="container">
  <div class="ui-g">
    <form autocomplete="off" (ngSubmit)="pesquisar()">
      <div class="ui-g-12">
        <h1>Pessoas</h1>
      </div>
      <div class="ui-g-12 ui-fluid">
        <label>Nome</label>
        <input type="text" pInputText name="nome" [(ngModel)]="filtro.nome"/>
      </div>
      <div class="ui-g-12">
        <button pButton type="submit" label="Pesquisar"></button>
      </div>
    </form>
  </div>

  <div class="ui-g">
    <div class="ui-g-12">
      <p-table #tabela [value]="pessoas" [paginator]="true" [rows]="filtro.itensPorPagina" [lazy]="true" [totalRecords]="totalRegistros" [responsive]="true" (onLazyLoad)="aoMudarPAgina($event)">
        <ng-template pTemplate="header">
          <tr>
            <th>Nome</th>
            <th>Cidade</th>
            <th>Estado</th>
            <th>Status</th>
            <th style="width: 120px"></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-pessoa>
          <tr>
            <td>{{pessoa.nome}}</td>
            <td>{{pessoa.endereco?.cidade}}</td>
            <td>{{pessoa.endereco?.estado}}</td>
            <td style="text-align: center">
              <a href="javascript:;" (click)="mudarStatus(pessoa, tabela)" pTooltip="{{pessoa.ativo ? 'Desativar' : 'Ativar'}}">{{pessoa.ativo ? 'Ativo' : 'Desativado'}}</a>
            </td>
            <td style="text-align: center">
              <button pButton icon="pi pi-pencil" style="margin-right: 10px" pTooltip="Editar" tooltipPosition="bottom"></button>
              <button pButton icon="pi pi-trash" pTooltip="Excluir" tooltipPosition="bottom" (click)="excluir(pessoa, tabela)"></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    <div class="ui-g-12">
      <a pButton type="button" label="Nova Pessoa" routerLink="/pessoas/novo"></a>
    </div>
  </div>
</div>
