<div class="container">
  <div class="ui-g">
    <div class="ui-g-12">
      <h1>Lançamentos</h1>
    </div>

    <div class="ui-g-12 ui-fluid">
      <label>Descrição</label>
      <input type="text" pInputText />
    </div>

    <div class="ui-g-12">
      <label style="display: block">Vencimento</label>
      <input type="text" pInputText style="width: 95px"/>

      <label style="margin: 0px 3px 0px 3px">até</label>
      <input type="text" pInputText style="width: 95px"/>
    </div>

    <div class="ui-g-12">
      <button pButton type="submit" label="Pesquisar" ></button>
    </div>
  </div>

  <div class="ui-g">
    <div class="ui-g-12">
      <p-table [value]="lancamentos" [paginator]="true" [rows]="5">
        <ng-template pTemplate="header">
          <tr>
            <th>Pessoa</th>
            <th>Descricao</th>
            <th class="col-data">Vencimento</th>
            <th class="col-data">Pagamento</th>
            <th style="width: 120px">Valor</th>
            <th style="width: 120px"></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-lancamento>
          <tr>
            <td>{{lancamento.pessoa}}</td>
            <td>{{lancamento.descricao}}</td>
            <td class="col-data">{{lancamento.dataVencimento}}</td>
            <td class="col-data">{{lancamento.dataPagamento}}</td>
            <td class="col-valor" [ngStyle]="{ color: lancamento.tipo === 'DESPESA' ? 'red' : 'blue' }">{{lancamento.valor}}</td>
            <td style="text-align: center">
              <button pButton icon="pi pi-pencil" style="margin-right: 10px" pTooltip="Editar" tooltipPosition="bottom"></button>
              <button pButton icon="pi pi-trash" pTooltip="Excluir" tooltipPosition="bottom"></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>

    <div class="ui-g-12">
      <button pButton type="button" label="Novo Lançamento" ></button>
    </div>



  </div>
</div>
