<div class="container">
  <div class="ui-g">
    <form autocomplete="off" (ngSubmit)="pesquisar()">
      <div class="ui-g-12">
        <h1>Lançamentos</h1>
      </div>

      <div class="ui-g-12 ui-fluid">
        <label>Descrição</label>
        <input type="text" pInputText name="descricao" [(ngModel)]="filtro.descricao"/>
      </div>

      <div class="ui-g-12">
        <label style="display: block">Vencimento</label>
        <p-calendar inputId="basic" dateFormat="dd/mm/yy" [showIcon]="true" name="vencimentoInicio" [(ngModel)]="filtro.dataVencimentoInicio"></p-calendar>

        <label style="margin: 0px 3px 0px 3px">até</label>
        <p-calendar inputId="basic" dateFormat="dd/mm/yy" [showIcon]="true" name="vencimentoFim" [(ngModel)]="filtro.dataVencimentoFim"></p-calendar>
      </div>

      <div class="ui-g-12">
        <button pButton type="submit" label="Pesquisar" ></button>
      </div>
    </form>
  </div>

  <div class="ui-g">
    <div class="ui-g-12">
      <p-table #tabela [value]="lancamentos" [paginator]="true" [rows]="filtro.itensPorPagina" [lazy]="true" [totalRecords]="totalRegistros" [responsive]="true" (onLazyLoad)="aoMudarPagina($event)">
        <ng-template pTemplate="header">
          <tr>
            <th>Pessoa</th>
            <th>Descricao</th>
            <th class="col-data">Vencimento</th>
            <th class="col-data">Pagamento</th>
            <th style="width: 120px">Valor</th>
            <th style="width: 120px"></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-lancamento let-lanc="rowData">
          <tr>
            <td>{{lancamento.pessoa}}</td>
            <td>{{lancamento.descricao}}</td>
            <td class="col-data">{{lancamento.dataVencimento | date:'dd/MM/y'}}</td>
            <td class="col-data">{{lancamento.dataPagamento | date:'dd/MM/y'}}</td>
            <td class="col-valor" [ngStyle]="{ color: lancamento.tipo === 'DESPESA' ? 'red' : 'blue' }">{{lancamento.valor}}</td>
            <td style="text-align: center">
              <button pButton icon="pi pi-pencil" style="margin-right: 10px" pTooltip="Editar" tooltipPosition="bottom"></button>
              <button pButton icon="pi pi-trash" pTooltip="Excluir" (click)="excluir(lancamento)" tooltipPosition="bottom"></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    <div class="ui-g-12">
      <button pButton type="button" label="Novo Lançamento" ></button>
    </div>
  </div>
</div>
